@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" 
    style="color:brown" >
                Welcome Trần Tiến Anh K23CNT1 <br /> 2310900005</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
